/* Vui Design 框架样式重写 */
.vui-card-shadow-always { box-shadow:0 0 6px rgba(0,0,0,0.02); }

/* Viser 图表 tooltip 提示 */
.g2-tooltip { position:absolute; top:0; left:0; border-radius:2px; box-shadow:0 1px 6px rgba(0,0,0,0.1); background-color:rgba(255,255,255,0.95); padding:10px; color:#565656; font-size:12px; line-height:20px; }
.g2-tooltip .g2-tooltip-title { margin-bottom:4px; font-size:12px; }
.g2-tooltip .g2-tooltip-list { box-sizing:border-box; list-style:none; margin:0; padding:0; }
.g2-tooltip .g2-tooltip-list-item { display:flex; align-items:center; box-sizing:border-box; list-style:none; margin:0; padding:0; }
.g2-tooltip .g2-tooltip-list-item + .g2-tooltip-list-item { margin-top:4px; }
.g2-tooltip .g2-tooltip-list-item-marker { box-sizing:border-box; display:block; width:8px; height:8px; border:1px solid #fff; border-radius:50%; margin-right:8px; }
.g2-tooltip .g2-tooltip-list-item-key { flex:1; box-sizing:border-box; display:block; }
.g2-tooltip .g2-tooltip-list-item-value { box-sizing:border-box; display:block; margin-left:24px; }
.g2-tooltip .g2-tooltip-group {  }
.g2-tooltip .g2-tooltip-group + .g2-tooltip-group { margin-top:8px; }
.g2-tooltip .g2-tooltip-group-title { font-size:14px; }
.g2-tooltip .g2-tooltip-group-content { display:flex; align-items:center; margin-top:4px; }
.g2-tooltip .g2-tooltip-group-content-marker { display:block; width:6px; height:6px; border-radius:50%; margin-right:8px; }
.g2-tooltip .g2-tooltip-group-content-key { flex:1; display:block; }
.g2-tooltip .g2-tooltip-group-content-value { display:block; margin-left:24px; }

/* Viser 图表-饼状图 legend 提示 */
.g2-pie-legend { position:absolute; top:50% !important; left:auto !important; right:0 !important; width:auto !important; max-width:100px !important; height:auto !important; max-height:260px !important; overflow:auto !important; transform:translateY(-50%); }
.g2-pie-legend-list { list-style:none; margin:0; padding:0; text-align:left; }
.g2-pie-legend-list-item { cursor:pointer; display:flex !important; align-items:center !important; margin:0 !important; font-size:12px !important; line-height:1 !important; }
.g2-pie-legend-list-item .g2-pie-legend-marker { display:block !important; width:6px !important; height:6px !important; border-radius:50% !important; margin-right:8px !important; }
.g2-pie-legend-list-item .g2-pie-legend-text { flex:1; display:block; overflow:hidden; white-space:nowrap; text-overflow:ellipsis; }
.g2-pie-legend-list-item + .g2-pie-legend-list-item { margin-top:10px !important; }


html, body, #root {
	min-height:100vh;
}




































































































































































































































































































































/* vui-pro-layout */
.vui-pro-layout { position:relative; z-index:1; min-height:100vh;
}

/* vui-pro-layout-sider */
.vui-pro-layout-sider { position:fixed; top:0; left:0; z-index:2; height:100%; box-shadow:0 0 6px rgba(0,0,0,0.06);
}
.vui-pro-layout-sider .logo { position:relative; height:64px; margin-bottom:10px; padding:0 20px; overflow:hidden;
}
.vui-pro-layout-sider .logo a { display:flex; align-items:center; height:100%;
}
.vui-pro-layout-sider .logo img { display:block; width:32px; transition:width 0.2s;
}
.vui-pro-layout-sider .logo label { flex:1; cursor:inherit; display:block; margin-left:10px; overflow:hidden; color:#fff; font-size:18px; font-weight:600; line-height:2; white-space:nowrap; text-overflow:ellipsis;
}
.vui-pro-layout-sider .logo.collapsed {
}
.vui-pro-layout-sider .logo.collapsed a {
}
.vui-pro-layout-sider .logo.collapsed img { width:40px;
}
.vui-pro-layout-sider .logo.collapsed label { display:none;
}

/* vui-pro-layout-main */
.vui-pro-layout-main { position:relative; z-index:1; min-height:100%; padding-left:220px; transition:all 0.2s;
}
.vui-pro-layout-main.collapsed { padding-left:80px;
}
.vui-pro-layout-main-header { position:relative; z-index:2; box-shadow:0 0 6px rgba(0,0,0,0.06); padding:0 10px;
}
.vui-pro-layout-main-header .breadcrumb { display:flex; align-items:center; height:64px;
}
.vui-pro-layout-main-header .navbar {
}
.vui-pro-layout-main-header .navbar .navbar-item { float:left; height:64px;
}
.vui-pro-layout-main-header .link { cursor:pointer; display:flex; align-items:center; height:64px; padding:0 10px; color:#595959; transition:all 0.2s;
}
.vui-pro-layout-main-header .link:hover { background-color:rgba(0,0,0,0.02); color:#4298f2;
}
.vui-pro-layout-main-header .link.active { background-color:rgba(0,0,0,0.02); color:#4298f2;
}
.vui-pro-layout-main-header .user { cursor:pointer; display:flex; align-items:center; height:64px; padding:0 10px; color:#595959; transition:all 0.2s;
}
.vui-pro-layout-main-header .user label { cursor:pointer;
}
.vui-pro-layout-main-header .user .vui-avatar { margin:0 4px;
}
.vui-pro-layout-main-header .user .vui-icon { font-size:12px;
}
.vui-pro-layout-main-header .user:hover { background-color:rgba(0,0,0,0.02); color:#4298f2;
}
.vui-pro-layout-main-header .user:hover label { cursor:pointer;
}
.vui-pro-layout-main-header .user:hover .vui-avatar {
}
.vui-pro-layout-main-header .user:hover .vui-icon {
}
.vui-pro-layout-main-header .user.active { background-color:rgba(0,0,0,0.02); color:#4298f2;
}
.vui-pro-layout-main-header .user.active label { cursor:pointer;
}
.vui-pro-layout-main-header .user.active .vui-avatar {
}
.vui-pro-layout-main-header .user.active .vui-icon {
}
.vui-pro-layout-main-body { position:relative; z-index:1; padding:20px;
}
.vui-pro-layout-main-footer { padding:20px; text-align:center;
}
.vui-pro-layout-main-footer .vui-space { margin-bottom:10px;
}
.vui-pro-layout-main-tabs { width:340px; border-radius:2px; background-color:#fff; box-shadow:0 1px 6px rgba(0,0,0,0.1);
}
.vui-pro-layout-main-tabs .vui-tabs-header { margin-bottom:0;
}
.vui-pro-layout-main-tabs .vui-tabs-header-content { justify-content:center;
}
.vui-pro-layout-main-tabs .vui-tab-trigger { margin:0 10px;
}
.vui-pro-layout-main-broadcast {
}
.vui-pro-layout-main-broadcast-body {
}
.vui-pro-layout-main-broadcast-footer { display:flex; justify-content:center; align-items:center; height:46px; border-top:1px solid #f0f0f0;
}
.vui-pro-layout-main-broadcast-footer a { flex:1; display:block; text-align:center; line-height:46px;
}
.vui-pro-layout-main-broadcast-footer a:first-child {
}
.vui-pro-layout-main-broadcast-footer a:last-child { border-left:1px solid #f0f0f0;
}
.vui-pro-layout-main-notice-list {
}
.vui-pro-layout-main-notice-list .vui-list-item { cursor:pointer; padding:16px 20px; transition:all 0.2s;
}
.vui-pro-layout-main-notice-list .vui-list-item .vui-list-item-meta-content { width:0;
}
.vui-pro-layout-main-notice-list .vui-list-item .vui-list-item-meta-title { display:block; overflow:hidden; white-space:nowrap; text-overflow:ellipsis;
}
.vui-pro-layout-main-notice-list .vui-list-item .vui-list-item-meta-description { font-size:12px;
}
.vui-pro-layout-main-notice-list .vui-list-item:hover { background-color:#fafafa;
}
.vui-pro-layout-main-message-list {
}
.vui-pro-layout-main-message-list .vui-list-item { cursor:pointer; padding:16px 20px; transition:all 0.2s;
}
.vui-pro-layout-main-message-list .vui-list-item .vui-list-item-meta-content { width:0;
}
.vui-pro-layout-main-message-list .vui-list-item .vui-list-item-meta-title { display:block; overflow:hidden; white-space:nowrap; text-overflow:ellipsis;
}
.vui-pro-layout-main-message-list .vui-list-item .vui-list-item-meta-description { font-size:12px;
}
.vui-pro-layout-main-message-list .vui-list-item:hover { background-color:#fafafa;
}
.vui-pro-layout-main-todo-list {
}
.vui-pro-layout-main-todo-list .vui-list-item { cursor:pointer; padding:16px 20px; transition:all 0.2s;
}
.vui-pro-layout-main-todo-list .vui-list-item .vui-list-item-meta-content { width:0;
}
.vui-pro-layout-main-todo-list .vui-list-item .vui-list-item-meta-title { align-items:center;
}
.vui-pro-layout-main-todo-list .vui-list-item .vui-list-item-meta-title .title { flex:1;
}
.vui-pro-layout-main-todo-list .vui-list-item .vui-list-item-meta-title .vui-tag { margin-left:8px;
}
.vui-pro-layout-main-todo-list .vui-list-item .vui-list-item-meta-description { font-size:12px;
}
.vui-pro-layout-main-todo-list .vui-list-item:hover { background-color:#fafafa;
}
.vui-pro-page { margin:-20px;
}
.vui-pro-page-header {
}
.vui-pro-page-body { padding:20px;
}

