
.vui-dashboard-analysis-shortcut { display:block; padding:16px; text-align:center;
}
.vui-dashboard-analysis-shortcut .vui-icon { font-size:24px;
}
.vui-dashboard-analysis-shortcut span { display:block; margin-top:8px; color:#595959; transition:color 0.2s cubic-bezier(0.23,1,0.32,1);
}
.vui-dashboard-analysis-shortcut:hover {
}
.vui-dashboard-analysis-shortcut:hover .vui-icon {
}
.vui-dashboard-analysis-shortcut:hover span { color:currentColor;
}

































































































































































/* vui-dashboard-analysis-sales-pageview-tabs */
.vui-dashboard-analysis-sales-pageview-tabs .vui-tabs-header { margin-bottom:0; padding:0 20px;
}
.vui-dashboard-analysis-sales-pageview-tabs .vui-tabs-header .vui-tabs-tab { height:54px;
}

/* vui-dashboard-analysis-sales-pageview-chart */
.vui-dashboard-analysis-sales-pageview-chart {
}
.vui-dashboard-analysis-sales-pageview-chart-header { margin-bottom:16px; color:#8c8c8c; font-size:16px; line-height:1.42857142;
}
.vui-dashboard-analysis-sales-pageview-chart-body { width:100%; height:272px; overflow:hidden; font-size:0;
}

/* vui-dashboard-analysis-sales-pageview-rank */
.vui-dashboard-analysis-sales-pageview-rank {
}
.vui-dashboard-analysis-sales-pageview-rank-header { margin-bottom:16px; color:#8c8c8c; font-size:16px; line-height:1.42857142;
}
.vui-dashboard-analysis-sales-pageview-rank-body {
}
.vui-dashboard-analysis-sales-pageview-rank-item { display:flex; align-items:center; margin-top:16px; font-size:14px; line-height:1.42857142;
}
.vui-dashboard-analysis-sales-pageview-rank-item .vui-dashboard-analysis-sales-pageview-rank-item-no { width:20px; height:20px; border-radius:20px; background-color:#fafafa; margin-right:16px; color:#595959; text-align:center; line-height:20px;
}
.vui-dashboard-analysis-sales-pageview-rank-item .vui-dashboard-analysis-sales-pageview-rank-item-title { flex:1; color:#595959;
}
.vui-dashboard-analysis-sales-pageview-rank-item .vui-dashboard-analysis-sales-pageview-rank-item-extra { margin-left:16px; color:#8c8c8c;
}
.vui-dashboard-analysis-sales-pageview-rank-item:nth-child(1) {
}
.vui-dashboard-analysis-sales-pageview-rank-item:nth-child(1) .vui-dashboard-analysis-sales-pageview-rank-item-no { background-color:#eaf4fe; color:#2d8cf0;
}
.vui-dashboard-analysis-sales-pageview-rank-item:nth-child(1) .vui-dashboard-analysis-sales-pageview-rank-item-title {
}
.vui-dashboard-analysis-sales-pageview-rank-item:nth-child(1) .vui-dashboard-analysis-sales-pageview-rank-item-extra {
}
.vui-dashboard-analysis-sales-pageview-rank-item:nth-child(2) {
}
.vui-dashboard-analysis-sales-pageview-rank-item:nth-child(2) .vui-dashboard-analysis-sales-pageview-rank-item-no { background-color:#fef7ed; color:#faad14;
}
.vui-dashboard-analysis-sales-pageview-rank-item:nth-child(2) .vui-dashboard-analysis-sales-pageview-rank-item-title {
}
.vui-dashboard-analysis-sales-pageview-rank-item:nth-child(2) .vui-dashboard-analysis-sales-pageview-rank-item-extra {
}
.vui-dashboard-analysis-sales-pageview-rank-item:nth-child(3) {
}
.vui-dashboard-analysis-sales-pageview-rank-item:nth-child(3) .vui-dashboard-analysis-sales-pageview-rank-item-no { background-color:#fdeef0; color:#ed5565;
}
.vui-dashboard-analysis-sales-pageview-rank-item:nth-child(3) .vui-dashboard-analysis-sales-pageview-rank-item-title {
}
.vui-dashboard-analysis-sales-pageview-rank-item:nth-child(3) .vui-dashboard-analysis-sales-pageview-rank-item-extra {
}


.vui-dashboard-analysis-sales-category-percentage { display:flex; justify-content:space-around; align-items:center; height:404px;
}
.vui-dashboard-analysis-sales-category-percentage-chart { position:relative; width:240px; height:240px;
}
.vui-dashboard-analysis-sales-category-percentage-chart-title { position:absolute; top:50%; left:50%; transform:translate(-50%,-50%);
}
.vui-dashboard-analysis-sales-category-percentage-chart-title h1 { color:#8c8c8c; font-size:16px; text-align:center;
}
.vui-dashboard-analysis-sales-category-percentage-chart-title p { margin-top:8px; color:#595959; font-size:24px; text-align:center;
}
.vui-dashboard-analysis-sales-category-percentage-chart-main {
}
.vui-dashboard-analysis-sales-category-percentage-legend { width:240px;
}
.vui-dashboard-analysis-sales-category-percentage-legend-item { display:flex; align-items:center; cursor:pointer; color:#595959; font-size:14px; line-height:1.42857142;
}
.vui-dashboard-analysis-sales-category-percentage-legend-item + .vui-dashboard-analysis-sales-category-percentage-legend-item { margin-top:16px;
}
.vui-dashboard-analysis-sales-category-percentage-legend-item-marker { display:block; width:8px; height:8px; border-radius:8px; margin-right:10px;
}
.vui-dashboard-analysis-sales-category-percentage-legend-item-title { flex:1; display:block;
}
.vui-dashboard-analysis-sales-category-percentage-legend-item-percentage { display:block; width:70px; color:#8c8c8c; text-align:right;
}
.vui-dashboard-analysis-sales-category-percentage-legend-item-value { display:block; width:60px; text-align:right;
}

