






















































































































































































































































































/* vui-details-advanced */
.vui-details-advanced { display:flex; align-items:flex-start;
}
.vui-details-advanced-content { flex:1; display:flex; align-items:center;
}
.vui-details-advanced-extra { margin-left:64px;
}
.vui-details-advanced-extra-statistic {
}
.vui-details-advanced-extra-statistic .vui-statistic-title { text-align:right;
}
.vui-details-advanced-extra-statistic .vui-statistic-body { justify-content:flex-end;
}

/* vui-details-advanced-tabs */
.vui-details-advanced-tabs .vui-tabs-header { margin-bottom:0; padding:0 20px;
}
.vui-details-advanced-tabs .vui-tabs-header .vui-tabs-tab { height:54px;
}

