
.vui-filter-group { position:relative; display:flex; align-items:flex-start;
}
.vui-filter-group-header { display:flex; align-items:center; width:120px; padding:8px 0;
}
.vui-filter-group-header .label { flex:1; display:block; height:32px; padding:0 16px; overflow:hidden; white-space:nowrap; text-overflow:ellipsis; color:#262626; line-height:32px;
}
.vui-filter-group-body { flex:1; padding:8px 0; overflow:hidden;
}
.vui-filter-group-body .vui-row { height:auto; overflow:hidden; transition:all 0.2s;
}
.vui-filter-group-body .vui-row.collapsed { height:32px;
}
.vui-filter-group-body .vui-filter-group-option { display:flex; padding:6px 0; overflow:hidden; white-space:nowrap; text-overflow:ellipsis;
}
.vui-filter-group-footer { display:flex; padding:8px 0; line-height:32px;
}
.vui-filter-group-footer .btn-more { flex:1; display:block; align-items:center; height:32px; padding:0 16px;
}
.vui-filter-group-footer .btn-more .vui-icon { margin-left:4px; transform:scale(0.6);
}
.vui-filter-group + .vui-filter-group { margin-top:1px;
}
.vui-filter-group.even { background-color:#fff;
}
.vui-filter-group.odd { background-color:#fafafa;
}


.vui-filter { border-radius:2px; overflow:hidden;
}

