












































































































































/* vui-design-pro-login */
.vui-design-pro-login { background:url(../images/bg.png?v=7014c63c) repeat 50% 0;
}

/* vui-design-pro-login-body */
.vui-design-pro-login-body { min-height:calc(100vh - 96px); padding:48px 0;
}
.vui-design-pro-login-logo { position:relative; width:360px; margin:0 auto; text-align:center;
}
.vui-design-pro-login-logo a { display:inline-block; vertical-align:middle; line-height:1;
}
.vui-design-pro-login-logo img { display:inline-block; height:40px; vertical-align:middle;
}
.vui-design-pro-login-logo span { display:inline-block; margin-left:10px; vertical-align:middle; line-height:40px; color:#09192a; font-size:30px; font-weight:700; font-stretch:condensed;
}
.vui-design-pro-login-slogan { margin-top:24px; margin-bottom:48px; color:#8c8c8c; text-align:center;
}
.vui-design-pro-login-form { width:360px; margin:0 auto;
}
.vui-design-pro-login-form .vui-tabs .vui-tabs-header { margin-bottom:24px;
}
.vui-design-pro-login-form .vui-tabs .vui-tabs-header .vui-tabs-header-content { justify-content:center;
}
.vui-design-pro-login-form .vui-tabs .vui-tabs-header .vui-tabs-tab + .vui-tabs-tab { margin-left:32px;
}
.vui-social-login { margin-top:24px;
}
.vui-social-login .vui-social-login-header { color:#8c8c8c; text-align:center;
}
.vui-social-login .vui-social-login-body { margin-top:16px; text-align:center;
}
.vui-social-login .vui-social-login-body .vui-social-login-button { display:inline-block; width:40px; height:40px; border-radius:40px; background-color:#dddddd; margin:0 12px; vertical-align:middle; font-size:0; text-align:center; line-height:40px; transition:all 0.2s;
}
.vui-social-login .vui-social-login-body .vui-social-login-button svg { display:inline-block; vertical-align:middle; fill:#ffffff;
}
.vui-social-login .vui-social-login-body .vui-social-login-button:hover {
}
.vui-social-login .vui-social-login-body .vui-social-login-button:hover svg {
}
.vui-social-login .vui-social-login-body .vui-social-login-button-wechat {
}
.vui-social-login .vui-social-login-body .vui-social-login-button-wechat svg {
}
.vui-social-login .vui-social-login-body .vui-social-login-button-wechat:hover { background-color:#44b549;
}
.vui-social-login .vui-social-login-body .vui-social-login-button-wechat:hover svg {
}
.vui-social-login .vui-social-login-body .vui-social-login-button-qq {
}
.vui-social-login .vui-social-login-body .vui-social-login-button-qq svg {
}
.vui-social-login .vui-social-login-body .vui-social-login-button-qq:hover { background-color:#12b7f5;
}
.vui-social-login .vui-social-login-body .vui-social-login-button-qq:hover svg {
}
.vui-social-login .vui-social-login-body .vui-social-login-button-sina {
}
.vui-social-login .vui-social-login-body .vui-social-login-button-sina svg {
}
.vui-social-login .vui-social-login-body .vui-social-login-button-sina:hover { background-color:#ff8500;
}
.vui-social-login .vui-social-login-body .vui-social-login-button-sina:hover svg {
}

/* vui-design-pro-login-footer */
.vui-design-pro-login-footer { padding:24px 0; text-align:center;
}
.vui-design-pro-login-footer p {  margin-top:8px;
}

