
.vui-form-steps-notice { border-top:1px solid #f0f0f0; margin-top:40px; padding-top:40px;
}
.vui-form-steps-notice h4 { color:#262626; font-size:16px;
}
.vui-form-steps-notice dl { margin-top:16px; color:#595959; font-size:14px;
}
.vui-form-steps-notice dl dt { color:#262626;
}
.vui-form-steps-notice dl dd { margin-top:4px;
}
.vui-form-steps-notice dl + dl { margin-top:16px;
}

