
.vui-pro-dashboard-workplace { display:flex; align-items:flex-start;
}
.vui-pro-dashboard-workplace-profile { flex:1; display:flex; align-items:center;
}
.vui-pro-dashboard-workplace-profile-avatar {
}
.vui-pro-dashboard-workplace-profile-details { margin-left:20px;
}
.vui-pro-dashboard-workplace-profile-details .welcome { color:#262626; font-size:20px; font-weight:500; line-height:30px;
}
.vui-pro-dashboard-workplace-profile-details .meta { margin-top:10px; color:#8c8c8c; font-size:14px; line-height:24px;
}
.vui-pro-dashboard-workplace-extra { margin-left:40px;
}
.vui-pro-dashboard-workplace-extra-statistic {
}
.vui-pro-dashboard-workplace-extra-statistic .vui-statistic-title { text-align:right;
}
.vui-pro-dashboard-workplace-extra-statistic .vui-statistic-body { justify-content:flex-end;
}


.vui-pro-dashboard-workplace-project-wrapper { width:33.33333333% !important; box-shadow:1px 0 0 0 #f6f6f6, 0 1px 0 0 #f6f6f6 !important; min-height:162px !important; padding:0 !important;
}
.vui-pro-dashboard-workplace-project { display:block; padding:24px; transition:all 0.2s;
}
.vui-pro-dashboard-workplace-project .vui-pro-dashboard-workplace-project-header { display:flex; height:30px; overflow:hidden; white-space:nowrap;
}
.vui-pro-dashboard-workplace-project .vui-pro-dashboard-workplace-project-body { display:-webkit-box; min-height:40px; margin-top:12px; overflow:hidden; color:#8c8c8c; line-height:20px; white-space:normal; word-break:break-all; word-wrap:break-word; text-overflow:ellipsis; -webkit-line-clamp:2; -webkit-box-orient:vertical;
}
.vui-pro-dashboard-workplace-project .vui-pro-dashboard-workplace-project-footer { height:20px; margin-top:12px; font-size:12px; line-height:20px;
}
.vui-pro-dashboard-workplace-project .vui-pro-dashboard-workplace-project-avatar { display:block; margin-right:16px;
}
.vui-pro-dashboard-workplace-project .vui-pro-dashboard-workplace-project-name { flex:1; cursor:inherit; display:block; overflow:hidden; color:#262626; font-size:16px; line-height:30px; white-space:nowrap; text-overflow:ellipsis;
}
.vui-pro-dashboard-workplace-project .vui-pro-dashboard-workplace-project-tag { float:left; cursor:inherit; color:#8c8c8c;
}
.vui-pro-dashboard-workplace-project .vui-pro-dashboard-workplace-project-moment { float:right; cursor:inherit; color:#bfbfbf;
}
.vui-pro-dashboard-workplace-project:hover { background-color:rgba(0,0,0,0.01);
}
.vui-pro-dashboard-workplace-project:hover .vui-pro-dashboard-workplace-project-header {
}
.vui-pro-dashboard-workplace-project:hover .vui-pro-dashboard-workplace-project-body {
}
.vui-pro-dashboard-workplace-project:hover .vui-pro-dashboard-workplace-project-footer {
}
.vui-pro-dashboard-workplace-project:hover .vui-pro-dashboard-workplace-project-avatar {
}
.vui-pro-dashboard-workplace-project:hover .vui-pro-dashboard-workplace-project-name {
}
.vui-pro-dashboard-workplace-project:hover .vui-pro-dashboard-workplace-project-tag {
}
.vui-pro-dashboard-workplace-project:hover .vui-pro-dashboard-workplace-project-moment {
}


.vui-pro-dashboard-workplace-event-list { min-height:486px;
}
.vui-pro-dashboard-workplace-event {
}
.vui-pro-dashboard-workplace-event .username { color:#262626;
}
.vui-pro-dashboard-workplace-event .text { margin:0 4px; color:#8c8c8c;
}
.vui-pro-dashboard-workplace-event .content { color:#2090d8;
}
.vui-pro-dashboard-workplace-event .moment { color:#bfbfbf;
}


.vui-pro-dashboard-workplace-shortcut-wrapper { width:33.33333333% !important; box-shadow:1px 0 0 0 #f6f6f6, 0 1px 0 0 #f6f6f6 !important; min-height:82px !important; padding:0 !important;
}
.vui-pro-dashboard-workplace-shortcut { display:block; padding:20px 0; transition:all 0.2s;
}
.vui-pro-dashboard-workplace-shortcut .vui-pro-dashboard-workplace-shortcut-icon { display:block; width:24px; height:24px; margin:0 auto; font-size:20px; text-align:center; line-height:24px;
}
.vui-pro-dashboard-workplace-shortcut .vui-pro-dashboard-workplace-shortcut-title { display:block; margin-top:10px; color:#595959; text-align:center; line-height:1.42857143;
}
.vui-pro-dashboard-workplace-shortcut:hover { background-color:rgba(0,0,0,0.01);
}
.vui-pro-dashboard-workplace-shortcut:hover .vui-pro-dashboard-workplace-shortcut-icon {
}
.vui-pro-dashboard-workplace-shortcut:hover .vui-pro-dashboard-workplace-shortcut-title {
}


.vui-pro-dashboard-workplace-todo-list .vui-table-body tr:last-child td { border-bottom:none;
}


.vui-pro-dashboard-workplace-radar-statistic {
}
.vui-pro-dashboard-workplace-radar-statistic .vui-statistic-title { display:flex; justify-content:flex-end; align-items:center;
}
.vui-pro-dashboard-workplace-radar-statistic .vui-statistic-title i { display:block; width:6px; height:6px; border-radius:6px; margin-right:8px;
}
.vui-pro-dashboard-workplace-radar-statistic .vui-statistic-body { justify-content:flex-end;
}

