
.vui-pro-login { height:100%; background:url("/static/images/layout/body.png") repeat 50% 0; overflow:auto;
}

/* body */
.vui-pro-login-body { padding:50px 0;
}
.vui-pro-login-logo { position:relative; width:360px; margin:0 auto; text-align:center;
}
.vui-pro-login-logo a { display:inline-block; vertical-align:middle; line-height:1;
}
.vui-pro-login-logo img { display:inline-block; height:40px; vertical-align:middle;
}
.vui-pro-login-logo span { display:inline-block; margin-left:10px; vertical-align:middle; line-height:40px; color:#09192a; font-size:30px; font-weight:700; font-stretch:condensed;
}
.vui-pro-login-slogan { margin-top:20px; margin-bottom:50px; color:#8c8c8c; text-align:center;
}
.vui-pro-login-form { width:360px; margin:0 auto;
}
.vui-pro-login-tabs {
}
.vui-pro-login-tabs .vui-pro-login-tabs-header { font-size:0; text-align:center;
}
.vui-pro-login-tabs .vui-pro-login-tabs-header .vui-pro-login-tabs-trigger { cursor:pointer; display:inline-block; width:90px; border-bottom:2px solid transparent; margin:0 15px; padding-bottom:10px; color:#595959; font-size:14px; text-align:center; transition:all 0.2s;
}
.vui-pro-login-tabs .vui-pro-login-tabs-header .vui-pro-login-tabs-trigger.active { border-bottom-color:#2d8cf0; color:#2d8cf0;
}
.vui-pro-login-tabs .vui-pro-login-tabs-body { margin-top:25px;
}
.vui-pro-login-tabs .vui-pro-login-tabs-body .vui-pro-login-tabs-panel { display:none;
}
.vui-pro-login-tabs .vui-pro-login-tabs-body .vui-pro-login-tabs-panel.active { display:block;
}
.socialLogin { margin-top:25px;
}
.socialLogin .socialLogin-header { color:#8c8c8c; text-align:center;
}
.socialLogin .socialLogin-body { margin-top:15px; text-align:center;
}
.socialLogin .socialLogin-body .socialLogin-button { display:inline-block; width:40px; height:40px; border-radius:40px; background-color:#dddddd; margin:0 10px; vertical-align:middle; font-size:0; text-align:center; line-height:40px; transition:all 0.2s;
}
.socialLogin .socialLogin-body .socialLogin-button svg { display:inline-block; vertical-align:middle; fill:#ffffff;
}
.socialLogin .socialLogin-body .socialLogin-button:hover {
}
.socialLogin .socialLogin-body .socialLogin-button:hover svg {
}
.socialLogin .socialLogin-body .socialLogin-button-wechat {
}
.socialLogin .socialLogin-body .socialLogin-button-wechat svg {
}
.socialLogin .socialLogin-body .socialLogin-button-wechat:hover { background-color:#44b549;
}
.socialLogin .socialLogin-body .socialLogin-button-wechat:hover svg {
}
.socialLogin .socialLogin-body .socialLogin-button-qq {
}
.socialLogin .socialLogin-body .socialLogin-button-qq svg {
}
.socialLogin .socialLogin-body .socialLogin-button-qq:hover { background-color:#12b7f5;
}
.socialLogin .socialLogin-body .socialLogin-button-qq:hover svg {
}
.socialLogin .socialLogin-body .socialLogin-button-sina {
}
.socialLogin .socialLogin-body .socialLogin-button-sina svg {
}
.socialLogin .socialLogin-body .socialLogin-button-sina:hover { background-color:#ff8500;
}
.socialLogin .socialLogin-body .socialLogin-button-sina:hover svg {
}

/* footer */
.vui-pro-login-footer { padding:25px 0;
}
.vui-pro-login-links { color:#8c8c8c; text-align:center; line-height:2;
}
.vui-pro-login-copyright { margin-top:8px; color:#8c8c8c; text-align:center; line-height:2;
}

