
.vui-pro-app-statistic { padding:8px 0; text-align:center;
}
.vui-pro-app-statistic h4 { color:#8c8c8c; font-size:14px;
}
.vui-pro-app-statistic p { margin-top:8px; color:#262626; font-size:24px;
}
.vui-pro-app-statistic p em { margin-right:8px; font-weight:600;
}
.vui-pro-app-item-content { display:flex; align-items:center; margin:0 20px 0 40px;
}
.vui-pro-app-item-content-group {
}
.vui-pro-app-item-content-group h4 { color:#8c8c8c; font-size:14px;
}
.vui-pro-app-item-content-group p { margin-top:8px; color:#595959; font-size:14px;
}
.vui-pro-app-item-content-group .vui-progress { width:180px;
}
.vui-pro-app-item-content-group + .vui-pro-app-item-content-group { margin-left:40px;
}

