
.vui-pro-list-search-articles-item-content { display:-webkit-box; overflow:hidden; text-overflow:ellipsis; -webkit-box-orient:vertical; -webkit-line-clamp:3; line-height:22px;
}
.vui-pro-list-search-articles-item-meta { display:flex; align-items:center; margin-top:16px;
}
.vui-pro-list-search-articles-item-meta .vui-avatar {
}
.vui-pro-list-search-articles-item-meta a { margin-left:8px;
}
.vui-pro-list-search-articles-item-meta span { margin-left:8px; color:#bfbfbf;
}
.vui-pro-list-search-articles-item-meta em { margin-left:16px; color:#bfbfbf;
}

